<!DOCTYPE html>
<html>
<head>
  <title>Quora1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
  
<%= yield %>

<%if user_signed_in?%>
<%=current_user.email%>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete%>
<%= link_to 'New Post', new_post_path %>
<%=link_to "Edit Account", edit_user_registration_path%>

<%else%>
<%= link_to "Sign up", new_user_registration_path%>
<%= link_to "Sign in", user_session_path%>
<%end%>
</body>
</html>
